@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Fascinate+Inline&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Akaya Telivigala', cursive;
	font-size: 18px;
	margin: 0px;
}
h1, h3 {
	font-family: 'Fascinate Inline', cursive;
	font-weight: bold;
	align-content: center;
}

h2 {
	font-family: 'Fascinate Inilne', cursive;
	font-weight: bold;
	align-content: center;
	color: pink;
}

a {
	text-decoration: none;
}